p{
    background-color: aqua;
}
p.gordo{
    color:darkgreen;
}
.clasegg{
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    background-color: cornflowerblue;
}
#idcoqueto{
    color: antiquewhite;
    background-color: black;
}